[DEFAULT]
bemfa_broker = bemfa.com
bemfa_port = 9501
bemfa_client_id = xxxxxxxxxx


[pc001]
broadcast = 192.168.x.255
mac = xx:xx:xx:xx:xx:xx
struct = wol
ip = 192.168.xx.xx
user = xx
password =

[screen006]
struct = screen_rotate
ssh_host = 192.168.x.x
ssh_port = 22
ssh_user = user
ssh_password = password
display = 2
script = tmp/rotatescreen.ps1
